{% extends "store/base.html" %}

{% load static %}

{% block body %}
<div class="container">
    
    <div class="text-center container mb-5" style="align-items: center;
    display: flex;
    flex-direction: column;">
        <div style="font-size: 8rem; margin-bottom: 20px;">😕</div>
        <h1>Oops! Page Not Found</h1>
        <p>We couldn't find the page you were looking for.</p>
        <a class="btn btn-primary" href="/">Go back to Home</a>
    </div>  
   
    

</div>


{% endblock %}





